include LICENSE
include README.md
include requirements.txt
include luma_diagnostics/templates/*
include luma_diagnostics/cases/templates/*
recursive-exclude * __pycache__
recursive-exclude * *.py[cod]
